{% extends 'base.html' %}

{% block title %}
home
{% endblock %}

{% block more_style %}
.make-post{
    border: 1px solid black;
}
button {
    opacity: 0;
    transition: .7s;
    position: relative;
    bottom: 0px;
}
.post:hover button{
    opacity: 1;
}
{% endblock %}


{% block content %}
{{message}}
<h1>this is the home page</h1>
<h3>hello {{name}}!!!</h3>

{% if posts %}
<h2>here are your posts</h2>
<div class="post-container">
    {% for post in posts %}
        <div class="post">
            id: {{post.id}} 
            <br>
            {{post.text|safe}} 
            <button onclick="view_post({{post.id}})">view spost</button>
        </div>
    {% endfor %}
    <div class="make-post">
        <a href="{% url 'make post' %}">make post</a>  
    </div>
</div>
{% endif %}

{% if not posts %}
<h2>you have no posts</h2>
{% endif %}


<script>
    function view_post(post_id) {
        window.location.href = `http://127.0.0.1:8000/posts/view_post/${post_id}`;

    }
</script>

{% endblock %}