{% extends 'base.html' %}


{% block more_style %}

.comment{
    border: 1px solid black;
}

{% endblock %}



{% block content%}
<div class="post">
    <h2>author: {{post.author|safe}}</h2>
    <br>
    {{post.text|safe}} 
</div>

<form method="post" action="{% url 'view post' post_id=post.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

{% for comment in comments %}
<div class="comment">
    <p>{{comment.author|safe}}</p>
    <p>{{comment.content|safe}}</p>
</div>
{% endfor %}

{% endblock %}