{% extends 'base.html' %}

{% block style %}
<style>
main{
    margin-right: calc(var(--indent-size) * 2);
    margin-left: calc(var(--indent-size) * 2);
    margin-top: var(--indent-size);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    
}
main h1{
    font-size: 40px;
}
</style>
{% endblock %}

{% block content %}
<body>
    
    
    <main>
        <div class="image" style="height: calc(30vw + 100px);" >
            <img height="100%" width="100%" src="postImages/{{id}}" alt="">
        </div>
        <h1>{{blog[0]}}</h1>
        <h3>{{blog[1]}}</h3>
        <p>{{blog[2]}}</p>
        <form action="/likePost" method="POST" hx-boost="true" hx-target="this">
            <input type="hidden" name="post_id" value="{{id}}">
            <button type="submit">Like</button>
        </form>
        <div id="responce"></div>
    </main>
    
{% endblock %}
