{% extends 'base.html' %}

{% block style %}
<style>
main{
    margin-right: calc(var(--indent-size) * 2);
    margin-left: calc(var(--indent-size) * 2);
    margin-top: var(--indent-size);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    
}
main h1{
    font-size: 40px;
}
</style>
{% endblock %}

{% block content %}
<body>
    
    
    <main>
        <div class="image" style="height: calc(30vw + 100px);" >
            <img height="100%" width="100%" src="https://images.unsplash.com/photo-1593642634367-d91a135587b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
        </div>
        <h1>{{blog[0]}}</h1>
        <h3>{{blog[1]}}</h3>
        <p>{{blog[2]}}</p>
    </main>
    
{% endblock %}
